.DS_Store
data/
doc/literature
doc/HPC
doc/Meetings
checkpoints/
logs/
output/
doc/
src/__pycache__/
Dataset002_BRATS19/
pretrained_weights/
nnUNet_preprocessed/
nnUNet_raw/
nnUNet_results/
out_nifti/
tmp_501_fold0_val/
tmp_502_fold0_val/
tmp_503_EmaDiceFocalTverskyTrainer__nnUNetResEncUNetMPlans__3d_fullres_fold0_val/
tmp_503_fold0_val/
tmp_503_fold0_val_tta/
tmp_503_nnUNetTrainerEarlyStopping__nnUNetResEncUNetMPlans__3d_fullres_fold0_val/
val_ids_501_fold0.txt
val_ids_502_fold0.txt
val_ids_503_EmaDiceFocalTverskyTrainer__nnUNetResEncUNetMPlans__3d_fullres_fold0.txt
val_ids_503_fold0.txt
val_ids_503_fold0_tta.txt
val_ids_503_nnUNetTrainerEarlyStopping__nnUNetResEncUNetMPlans__3d_fullres_fold0.txt
src/process_vision_test_data.py